<!DOCTYPE HTML>
<!--
    Introspect by TEMPLATED
    templated.co @("@templatedco")
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Library Simulator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />

</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            @Html.ActionLink("Library Simulator", "Index", "Branches", null, new { @class = "logo" })
            <nav id="nav">
                @Html.ActionLink("Branches", "Index", "Branches")
                @Html.ActionLink("Books", "Index", "Books")
                @Html.Partial("_LoginPartial")

            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    @RenderBody()
    <!-- Footer -->
    <section id="footer">
        <div class="copyright">
            <div>Library Simulator, Copyright 2018, Jonathon Lindsey, All rights reserved.</div>
            &copy; Template by: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>